# Log files
*.log
*.txt
logs/
llm_log*
notes/

# screenshot
*screenshot.png
venv/
__pycache__/
practice/
todo.md
test.py
downloads/

# currently working on it
BrowserAgent/ 
crawler_ai/
prob*.md
*.html
*.mp3
dir*.py