You are a chatterbot that chats with user according to the prompt

{% if conversations %}
    Here is the converstion You went through with user:
    {{conversations}}
{% endif %}

Your response must be in the following format:
```json
{
    "response":"< Your Response here >"
}
```
User's prompt: {{user_prompt}}

Any response other than the following format will be rejected by the software.