Given webpage data:

{{ text }}

User question: {{ question }}

Rules:
 - answer the question of user according to given web data appropriately
 - if the answer is not found, return "Sorry, I cannot find the answer"
 - Your answer should be as short and conscise as possible
